[net]
batch=32
subdivisions=1
height=52
width=52
channels=3
hue=.1

#angle=7
#saturation=.75
#exposure=.75
#aspect=.75
saturation = 1.5
exposure = 1.5

max_batches = 1000000
momentum=0.9
decay=0.0005
learning_rate=0.01
policy=poly
power=1

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=16
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#filters = (#classes + #coords(4) + 1)*(num)
[convolutional]
size=1
stride=1
pad=1
filters=30
activation=leaky

[region]
anchors=0.20,0.52, 0.47,1.17, 0.80,1.96, 1.38,2.35, 2.43,2.81
num=5
bias_match=1
classes=1
coords=4
softmax=1
jitter=.2
rescore=1

object_scale=5
noobject_scale=1
class_scale=1
coord_scale=1

absolute=1
thresh = .6
random=0
