[net]
batch=32
subdivisions=1
height=52
width=52
channels=3
hue=.1
saturation = 1.5
exposure = 1.5

max_batches = 500000
momentum=0.9
decay=0.0005
learning_rate=0.01
policy=poly
power=1

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=16
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#filters = (#classes + #coords(4) + 1)*(num)
[convolutional]
size=1
stride=1
pad=1
filters=30
activation=leaky

[region]
anchors=0.17,0.15, 0.40,0.31, 0.90,0.66, 1.34,0.75, 1.35,1.09
num=5
bias_match=1
classes=1
coords=4
softmax=1
jitter=.2
rescore=1

object_scale=5
noobject_scale=1
class_scale=1
coord_scale=1

absolute=1
thresh = .6
random=0
